/* fonts TODO */

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto.ttf");
}

/* reset */

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html, body, .container, .app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #222;
}

ul {
  list-style-type: none;
}

.app {
  text-align: center;
}

h11,
section .track-list > h1 {
  font-size: 2.3em;
}

.app > h1,
section.track-list > h1 {
  line-height: 50px;
  font-size: 1.5em;
  background: linear-gradient( 0deg, #333, #444 );
  border-bottom: 1px solid #333;
}

.main > section {
  margin-top: 30px;
}

.main > section{
  padding: 0 1%;
}

.main > section.receive, .main > section.send {
  padding: 0 10%;
}

.main > section > h1 {
  margin-bottom: 30px;
}

/* utils - spacers */

.s10 { height:        10px; }
.s20 { height:        20px; }
.s30 { height:        30px; }
.s40 { height:        40px; }
.s50 { height:        50px; }
.s60 { height:        60px; }

.sl5  { margin-left:  5px;  }
.sl10 { margin-left:  10px; }
.sl15 { margin-left:  15px; }
.sl20 { margin-left:  20px; }
.sl30 { margin-left:  30px; }
.sl40 { margin-left:  40px; }

.sr5  { margin-right: 5px;  }
.sr10 { margin-right: 10px; }
.sr15 { margin-right: 15px; }
.sr20 { margin-right: 20px; }
.sr30 { margin-right: 30px; }
.sr40 { margin-right: 40px; }

/* utils - css utilities */

.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
}

.clearRight {
  clear: right;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

/* form */

input {
  font-size: 1.3em;
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  padding: 0 10px;
  min-height: 55px;
}

input[type=submit] {
  width: 50%;
  height: 60px;
  font-size: 1.1em;
  margin-top: 40px;
}

label {
  position: relative;
  font-size: 1.3em;
}

/*  nav  */

nav {
  position: absolute;
  bottom: -35px;
  left: -5px;
  display: block;
  width: 102%;
}

nav li {
  display: inline-block;
  background: #9b4dca;
  width: 33%;
}

nav li a {
  display: inline-block;
  color: #EEE;
  padding: 40px;
  width: 100%;
  font-size: 1.5em;
}

nav li:hover {
  background: #704789;
}

nav li:hover a {
  color: #FFF;
}


/* Receive */

.qrCode img {
  width: 44px;
}

.receive input[type=text] {
  text-align: center;
}

.balance.btc {
  font-size: 1.2em;
}

.refreshBalance {
  position: absolute;
  left: 50%;
  margin-left: 65px;
  top: -4px;
}

.refreshBalance button {
  font-size: 1.4em;
  padding:  2px 10px 10px;
  height: 40px;
}


/* behavuoural elements / colors */

.btn-danger,
.button-danger {
  background-color: orangeRed;
}

.btn-danger:hover,
.button-danger:hover {
  background-color: brown;
}

/* S3Play */

/* player */

.player {
  font-size: 2em;
}

.player .download {
  float: right;
}



section.track-list {
  /* ... */
}

section.track-list > h1 {
  margin-top: 30px;
  /* TODO: differentiate from header slightly (lighter bg?) */
}

.track-list .track {
  padding: 8px 0;
  cursor: pointer;
}

.track-list .track:hover {
  background: #666;
}

.track-list .track.selected {
  background: #f2f9f5;
  color: #222;
}

.track-list .track.selected:hover {
  background: #e2e9e5;
}


/* player */

.player > a {
  cursor: pointer;
}

.play_pause {
  position: relative;
  left: 4px;
}
.play_pause[data-playing="1"] {
  left: -2px;
}

/* address balance bottom right corner   */

.addressBalance {
  position: absolute;
  right:    7px;
  bottom:   -15px;
}

.addressBalance img,
.addressBalance input,
.addressBalance div {
  display: inline-block;
}

.addressBalance input {
  background: #444;
  color: #999;
  margin: 0 0 0 11px;
  font-size: 0.9em;
  min-height: 10px;
}

.addressBalance .qrCode {
  position: relative;
  top: 18px;
}

.addressBalance .balance {
  margin: 0 0 0 30px;
}

.addressBalance .balance strong {
  margin: 0 5px 0 0;
}
